.access-forbidden {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.forbidden-title {
    font-size: 60px;
}

.forbidden-subtitle {
    font-size: 18px;
    color:var(--pure-white)
}