.nutrition-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--pure-white);
    border: 2px solid var(--border-color);
    background: #fff;
    border-radius: 10px;
    width: 800px;
    height: 600px;
    margin: 10px auto;
}

.nutrition-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.nutrition-title {
    font-size: 25px;
    color:#00c98e;
}

.nutrition-split-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.nutrition-input-title{
    font-size: 15px;
    align-self: flex-start;
    color:#00c98e ;
}

.form-input.nutrition {
    padding: 15px 20px;
    border-radius: 5px;
    border: none;

}

.form-input.split {
    width: 250px;
}

.submit-nutrition {
    padding: 10px 25px;
    background: #00c98e;
    color: white;
    border-radius: 5px;
    width:500px;
    font-size: 23px;
    cursor: pointer;
    border: none;
}