.loading {
    width: 100vw;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.loading-message {
    font-size: 50px;
    margin-top: 50px;
    color: var(--pure-white);
}