.summary-stat {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 300px;
    flex-wrap: wrap;
    border: 1px solid var(--pure-white);
    font-family: 'Prompt', sans-serif;
    background: rgb(66, 223, 255);
    border-radius: 6px;
    margin-bottom: 10px;
    border: none;
    color: var(--pure-white);
    font-family: 'Trispace', sans-serif;
    font-size: 20px;

}

.primary-stat, .substat {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:100%
}


.statistics {
    display: flex;
    justify-content: space-between;
}