.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 1100px;
    overflow-x: hidden;
    margin-top: 100px;
    font-family: 'Trispace', sans-serif;
    color: var(--pure-white);
    background-repeat: no-repeat;
}

