.landing {
    width: 100%;
    overflow-x: hidden;
    margin-top: 120px;
    height: 800px;
    font-family: 'Trispace', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.hero {
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    border-radius: 10px;
    padding: 10px 10px;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .1);

}

.hero-img {
    opacity: .8;
    width: 800px;
    height: 500px;
}

.cta {
    position: relative;
    z-index:10;
    color: var(--pure-white);
    display: flex;
    flex-direction: column;
}
.cta h1 {
    font-size: 80px;
    font-weight: 700;
}

.cta h4 {
    font-size: 25px;
    font-weight: 50px
    ;
}
.activity-icons {
    display: flex;
    width: 740px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 180px;
}

.activity-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.activity-icon {
    margin-right: 20px;
}

.activity-icon.food {
    width: 70px;
    height: 50px;
}

.activity-icon.rest {
    width: 70px;
    height: 50px;
}
.activity-icon.fitness {
    width: 70px;
    height: 50px;
}
.activity-icon.planner {
    width: 70px;
    height: 50px;
}

