.navbar {
    width: 100%;
    font-family: 'Prompt', sans-serif;
    display: flex;
    flex: row;
    height: 100px;
    background-color: 3F4E4F
}

.logo {
    height: 70px;
    width: 70px;
    margin-top: 20px;
}

.link {
    text-decoration: none;
}

.navbar-contents {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    width: 50%;
    flex-wrap: wrap;
}
.nav-link {
    font-size: 18px;
    margin-right: 48px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.link.login {
    height: 100px;
}
.link.login button {
    padding: 15px 25px;
    background: #00c98e;
    color: var(--pure-white);
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    border: none;
    margin-right: 6px;
}
.nav-link.button{
    margin-right: 0px;
}

.link.signup {
    height: 100px;

}

.sign-up {
    padding: 15px 25px;
    background: #00c98e;
    color: var(--pure-white);
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    border: none;
    
}

.logout-button {
    padding: 15px 25px;
    background: #00c98e;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}